<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fall Limited Edition Sneakers-Sneakers</title>
</head>



<!-- STYLE -->
<link rel="stylesheet" href="main.css">
<body>
<div class="hammasi">
  <div class="first-page">
    <div >
      <div class="hopme-page-container">
        <section>
          <img class="home-img" src="img/user.png" alt="user" width="156" height="135">
          <h2><%=user.name%></h2>
          <p>Heart</p>
          <div class="links">
            <img class="links-icon" src="icons/Vector.svg" alt="">
            <img class="links-icon" src="icons/Vector-5.svg" alt="">
            <img class="links-icon" src="icons/Vector-4.svg" alt="">
            <img class="links-icon" src="icons/Vector-3.svg" alt="">
            <img class="links-icon" src="icons/Vector-2.svg" alt="">
            <img class="links-icon" src="icons/Vector-1.svg" alt="">
          </div>


          <hr class="hr-line">


          <div class="form">
            <section  class="section-1">
              <p>Age:</p>
              <p>Residence:</p>
              <p>Freelance:</p>
              <p>Addrerss:</p>
            </section>

            <section class="section-2">
              <p><%=user.age%></p>
              <p><%=user.residence%></p>
              <p class="rangli">Available</p>
              <p>dHAKA,Bangla  desh </p>
            </section>
          </div>


          <hr class="hr-line">



          <div class="skillar-title">
            <p><%=user.skills[0]%></p>
            <p>90%</p>
          </div>
          <div class="skills-container">
            <div class="skills html"></div>
          </div>

          <div class="skillar-title">
            <p><%=user.skills[1]%></p>
            <p>85%</p>
          </div>
          <div class="skills-container">
            <div class="skills css"></div>
          </div>

          <div class="skillar-title">
            <p><%=user.skills[2]%></p>
            <p>80%</p>
          </div>
          <div class="skills-container">
            <div class="skills js"></div>
          </div>

          <div class="skillar-title">
            <p><%=user.skills[3]%></p>
            <p>75%</p>
          </div>
          <div class="skills-container">
            <div class="skills php"></div>
          </div>

          <div class="skillar-title">
            <p><%=user.skills[4]%></p>
            <p>85%</p>
          </div>
          <div class="skills-container">
            <div class="skills wordpress"></div>
          </div>


          <hr class="hr-line">

          <h2 class="extra-skil-title">Extra Skills</h2>
        <div class="extra-skilss">

          <div class="extra-skils-item">
            <img src="icons/Icons.svg" alt="" width="15px" height="15px">
            <h2 class="text"><%=user.extra_skills[0]%>,<%=user.extra_skills[1]%></h2>
          </div>

          <div class="extra-skils-item">
            <img src="icons/Icons.svg" alt="" width="15px" height="15px">
            <h2 class="text"><%=user.extra_skills1[0]%>,<%=user.extra_skills1[1]%></h2>
          </div>

          <div class="extra-skils-item">
            <img src="icons/Icons.svg" alt="" width="15px" height="15px">
            <h2 class="text"><%=user.extra_skills2[0]%>,<%=user.extra_skills2[1]%></h2>
          </div>

          <div class="extra-skils-item">
            <img src="icons/Icons.svg" alt="" width="15px" height="15px">
            <h2 class="text"><%=user.extra_skills3[0]%>,<%=user.extra_skills3[1]%></h2>
          </div>
        </div>

        <hr class="hr-line">


        </section>
      </div>
    </div>

  </div>

    <!-- MAIN-CONTENT -->
    <main class="main-content">
      <section class="hero">
        <div class="hero-container container">
          <div class="hero-content">
            <h2 class="hero-hedding"> Doctor neurologists <br> in OHSU Hospital </h2>
            <p class="hero-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Expedita, autem praesentium. Hic repudiandae enim neque et similique numquam  Illum!</p>
            <a class="main-link main-link-solid" href="#index-cta">HIRE ME
              <svg width="12" height="11" viewBox="0 0 12 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M8.85539 4.72765L5.27939 1.15165L6.22206 0.208984L11.4074 5.39432L6.22206 10.5797L5.27939 9.63698L8.85539 6.06098H0.740723V4.72765H8.85539Z" fill="#2B2B2B"/>
              </svg>

            </a>
          </div>

          <img class="hero-img" class="hero-img" src="img/user.png" alt="Your Image 1" width="327" height="447" srcset="img/user.png 1x, img/user@.png 2px">
        </div>
      </section>


      <section class="index-features">
        <div class="container">
          <div class="index-features__top">
            <h2 class="index-features__title">my services</h2>
            <p class="index-features__top-info">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. lorem ipsum</p>
          </div>
        </div>
      </section>



      <div>
        <!-- <h1> Namanganliklar24 - sayt-novosti</h1> -->


        <!-- Top-news -->
        <section class="top-news">
          <!-- <h2>Top news</h2> -->


          <!-- NEWS-GRID -->
          <div class="new-grid">

            <!-- NEWS-GRID-ITEM -->
            <article class="new-grid-item article-card"><img class="new-grid-icon" src="icons/coding.svg" alt="coding" width="65" height="53">
              <h3 class="article-card-title">web development</h3>
              <p class="article-card-text">blog, e-commerce</p>
            </article>


            <article class="new-grid-item article-card"><img class="new-grid-icon" src="icons/illustration.svg" alt="coding" width="65" height="53">
              <h3 class="article-card-title">uI/uX design</h3>
              <p class="article-card-text">Mobile app, website design</p>
            </article>


            <article class="new-grid-item article-card"><img class="new-grid-icon" src="icons/Microphone.svg" alt="coding" width="65" height="53">
              <h3 class="article-card-title">sound design</h3>
              <p class="article-card-text">Voice Over, Beat Making</p>
            </article>


            <article class="new-grid-item article-card"><img class="new-grid-icon" src="icons/game-development.svg" alt="coding" width="65" height="53">
              <h3 class="article-card-title">game design</h3>
              <p class="article-card-text">Character Design, Props & Objects</p>
            </article>


            <article class="new-grid-item article-card"><img class="new-grid-icon" src="icons/Photographer.svg" alt="coding" width="65" height="53">
              <h3 class="article-card-title">photography</h3>
              <p class="article-card-text">portrait, product photography</p>
            </article>


            <article class="new-grid-item article-card">
              <h3 class="article-card-title">advertising</h3>
              <p class="article-card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vitae nulla diam in ac dictum a urna viverra morbi. </p>
              <a class="article-card-link" href="#">ORDER NOW
                <img src="icons/onga-icon2.svg" alt=""> </a>
              </article>


            </div>
          </section>

        </main>



        <div class="last-page">
          <div class="last-page-container">
          <img class="birinchi-icon" src="icons/oy.svg" alt="" width="25" height="25"><br>
          <img class="ikkinchi-icon" src="icons/uy.svg" alt="" width="25" height="25"><br>
          <img src="icons//varoqcha.svg" alt="" width="25" height="25"><br>
          <img src="icons/bitiruvchi.svg" alt="" width="25" height="25"><br>
          <img src="icons/sumka.svg" alt="" width="25" height="25"><br>
          <img src="icons/ams.svg" alt="" width="25" height="25">
          </div>
        </div>

</div>


    </body>
